@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    font-family: 'Titillium Web', sans-serif;
}

.home{
    display: flexbox;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}

.navbar{
    padding: 15px;
}

.titulo__font{
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
}

.titulo__subhome{
    color:#E8BB30;
}

body{
    height: 90vh;
    overflow-x: hidden;
}

.home__imagem{
    background-repeat: no-repeat;
    background-size: contain;
    /* max-width: 800px; */
    margin: auto;
    padding-top: 100px;
    margin-bottom: 0;
    
}

.home__conteudo{
    /* width: 450px;
    margin-top: 100px; */
    display: flexbox;
    text-align: center;
    width: 550px;
    margin-top: 100px;
    margin: auto;

}

.button__home{
    width: 150px;
    margin: auto;
}

.home__conteudo p{
    margin-top: 30px;
}


.card-body{
    text-align: center;
}

.habilidades{
    background-image:url(imagens/bg.jpg);
    background-attachment: fixed;
    min-height: 90vh;

}

.form_card{
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.925);
}
/* .habilidades>section{
    margin-top: 4%;
} */

.card-text{
    font-weight: 700;
    
}

.card__imagem-tamanho{
    width: 75px;
    margin: auto;
}

.img__js{
    width: 60px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 1px;
}

.img__python{
    width: 100px;
    margin: auto;
    margin-bottom: 11px;
}

.titulo_conhec{
    margin-top: 75px;
}

.titulo__formacao{
    padding-bottom: 24px;
    margin-bottom: 48px;
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
}

.container__formacao{
    margin: 0 60px;
    padding: 0 1em;
    
}

.titulo2__formacao{
    /* color: #ffb20d; */
    color: #E8BB30;
    font-weight: 700;
    font-size: 18px;
}



.text-muted{
    margin-bottom: 0;
}


.titulo_projeto{
    color: white;
    margin-top: 80px;
}

.projetos{
    background-image: url(imagens/projetos-imagem/desk-593327_1920.jpg);
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 30px;
}


.pro_card{
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.322);
    max-height: 180px;
}

.pro_card:hover{
    -webkit-transform: scale(1.5);
    transform: scale(0.96);
    transition: 0.5s;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

    /* -webkit-filter: blur(5px);
    filter: blur(5px); */

    /* border: 5px solid #ffb20d83;  */
    /* border-radius: 50%;*/
}

/* @media only screen and (min-width: 1600px){
    .titulo_projeto{
        background-color: #ffb20d;
    }

    .projetos{ TENTATIVA DE ALINHAS CARD EM 3 COLUNAS 
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 250px 250px;
        gap: 0px 80px;
        padding-top: 150px;
        margin: 0;
    }
} */

@media only screen and (max-width: 1448px){
    
    .home__main{
        padding-top: 250px;    
    }

    .home__imagem{
        padding-top: 0;
    }

    .projetos{
        background-image: url(imagens/projetos-imagem/desk-593327_1920.jpg);
        background-position: center center;
    }
}

@media only screen and (max-width: 600px) {
    
    .home__main {  
        background-image: url(imagens/6042470.jpg);
        background-position: 94.87% 59%;
        /* background-repeat: no-repeat;
        background-position: left center;
        background-attachment: fixed; */
        min-height: 100vh;
        /* MUDAR ESSA IMAGEM E SELECIONAR UMA CLASSE */

    }

    .home__main{
        padding-top: 150px;
    }

    .home__imagem{
        display: none;
    }

    .main{
        overflow-x: hidden;
    }
    
}
