@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

main{
    max-width: 700px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 62%);
}

/*Background*/

#home{
    background-image: url(../imagens/pexels-photo-2653362.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#portfolio{
    background-color: white;
    height: 600px;
}

#portfolio>h2{
    font-weight: bolder;
    font-size: 35px;
    color: #9E640E;
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.777);
    margin-bottom: 15px;
}

.card{
    background-color: white;
    margin-top: 15px;
    padding: 25px;
    padding-top: 10px; /*ATENÇÃO*/
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #323333;
    display: inline-block;
    flex: 0 0 25%;
    min-width: 45%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}

.projetos{
    max-width: 700px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-img-top{

}

.card-title{
    color: #9E640E;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 1em;
}

.card-text{
    margin-bottom: 30px;
    margin-top: 20px;
}

.buutton{
    text-decoration: none;
    background-color: #d48918;
    padding: 10px;
    border-radius: 6px;
    color: white;
    
    
}

.buutton:hover{
background-color: #9E640E;
}



#habilidades{
    background-image: url('../imagens/programar.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#habilidades>h2{
    font-weight: bolder;
    font-size: 35px;
    color: #d48918;
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.962);
    margin: auto;
    margin-bottom: 15px;
}


#habilidades>section>div{
    display: inline-block;
    background-color: white;
    padding: 30px;
    padding-top: 10px;
    margin-top: 0px;
    text-align: center;
    margin-top: 15px;
    margin: 3px;
    border-radius: 4px;

}

#habilidades>section>div>p{
    color: #9E640E;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 0px;
}


#serviços{
    background-color: white;
}

#serviços>h2{
    font-weight: bolder;
    font-size: 35px;
    color: #9E640E;
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.777);
    margin-bottom: 15px;
}

#formação{
    background-color: #f1f1f4;
}

#formação>h2{
    font-weight: bolder;
    font-size: 35px;
    color: #9E640E;
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.777);
    margin-bottom: 15px;
}



#experiência{
    background-color: white;
}

#experiência>h2{
    font-weight: bolder;
    font-size: 35px;
    color: #9E640E;
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.777);
    margin-bottom: 15px;
}

.title3{
    color: #9E640E;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 1.2em;
}

.divex{
    margin: auto;
}

.textex{
    line-height: 25px;
    text-align: justify;
    margin-right: 80px;
    margin-top: 15px;
}

#contato {
    background-color: #f1f1f4;
}

#contato>h2{
    font-weight: bolder;
    font-size: 35px;
    color: #9E640E;
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.777);
}

.teste{
    margin: auto;
    width: 100%;
    text-align: center;
}

#contato>section>div{
    display: inline-block;
    text-align: center;
}

#contato>section>div>p{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0px 18px;
    
}

/*CABEÇALHO*/

header{
    background-color: #f1f1f4;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    width: 100%;    
}


header > section > ul > a{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color:#D6933C;
    text-decoration: none;
}


header > section > ul > a:hover{
    color: #9E640E;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    visibility: visible;
    transform: scaleX(1);

}

/*CORPO*/

body{
    background-color: #323333;

}

body>main>section>p{
    margin: auto;
    margin-left: 60px;
}

body>main>section>div{
    margin: auto;
    height: 300px;
}

body>main>section>div>ul>a{
    text-decoration: none;
    color: #323333;
}

body>main>section>div>ul>a>li{
    margin: auto;
    margin-left: 80px;
    padding-top: 10px;
}

body>main>section>div>ul>li{
    margin: auto;
    margin-left: 80px;
    padding-top: 10px;
    color: #323333;
}

body>main>section>h2{  
    color: #9E640E;
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: 800;
    font-size: 2.5em;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.777);
    text-align: center;
    margin: auto;
}


main{
    min-height: 100vh;
}

main>section{
    height: 400px;
}

#home>div>h1{
    color: #c1c7d9;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

#home>div>h2{
    color: #9E640E;
    font-size: 2.5em;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px hsla(34, 65%, 54%, 0.89);
}

#home>div>p{
    padding-top: 35px;
    font-size: 22px;
    padding-left: 20px;
    line-height: 28px;
    text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.392);

}

.js{
    block-size: 58px;
    background-color: white;
    padding-bottom: 4px;
    padding-top: 2px; 
}

.teste>span{
    text-align: center;
    width: 100%;    
}

.contato{
    background-color: #c1c7d9;
}

/*RODAPÉ*/

footer>section{
text-align: center;
padding-bottom: 50px;
background-color: white;
}

footer>section>h1{
    color: #323333;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}

footer>section>h2{
    color: #9E640E;
    
}

footer>section>p{
    padding-bottom: 30px;
    color: #323333;
}

footer>section>span>abbr>a{
    margin: 12px;
    padding: 10px;
    border: #9E640E 2px solid;
    border-radius: 50%;
    color: #323333e1;
}

footer>section>span>abbr>a:hover{
    background-color: #9e640e;
    transition: 0.3s;

}

footer>p{
    text-align: center;
    font-size: small;
    background-color: #323333;
    color: white;
    padding: 20px;
}

.footer{
    max-width: 700px;
    margin: auto;
    background-color: #f1f1f4;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width: 675px){
    #portfolio{
        height: 950px;
    }

    .projetos{
        display: inline-block;
        padding: 30px;
        padding-top: 10px;
        text-align: center;
        margin: 3px;
        border-radius: 8px;
    }

    .card{
        margin: auto;
        margin-top: 35px;
    }

    #habilidades{
        height: 500px;
    }
    
    #experiência{
        height: 500px;
    }
    
}
